{% extends 'base.html' %}

{% block content %}
<hr>

<form method='POST'> {% csrf_token %}
  {{ t_form.as_p }}
  {{ p_form.as_p }}
  <input type="submit" value="Create new thread">
</form>

<div class='grid'>
  {% for thread in thread_list %}
    <div class='post-box'>
      {% for post in op_posts %}
        {% if post.thread_id == thread.id %}
          <p><a href="/{{ thread.id }}/">{{ thread.subject }}</a></p>
          <div>{{ post.content.strip|safe|linebreaks }}</div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock %}
