{% extends 'base.html' %}

{% block content %}
<form action='.' method='POST'> {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Create new post">
</form>

<hr>

<h3>{{ thread.subject }}</h3>

{% for post in object_list %}
  <div class='post-box' id='{{ post.id }}'>
    <p>#{{ post.id }}: {{ post.name }} - {{ post.post_time }}
      <span class='rfloat' style='color: #{{ post.hex_id }};'>{{ post.hex_id }}</span>
    </p>
    <div>{{ post.content|safe|linebreaks }}</div>
  </div>
{% endfor %}
{% endblock %}
