@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

:root {
  --black: #151515;
  --grey: #333;
  --white: #efefef;
  --accent: #f06;
  --quote: #0f0;
}

* {
  font-family: 'Oxygen', sans-serif;
}

body {
  background-color: var(--black);
}

p, input, textarea {
  font-size: 1rem;
}

textarea {
  height: 8rem;
  min-height: 8rem;
  max-width: 100%;
  min-width: 100%;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.4rem; }
h3 { font-size: 2rem; }

h1, h2, h3, p {
  color: var(--white);
  padding: 1rem 0;
}

a {
  color: var(--accent);
  text-decoration: none;
}

span {
  display: inline-block;
}

form {
  margin: auto auto 2rem;
}

input, textarea {
  padding: .5rem;
  width: 100%;
}

.page {
  margin: auto;
  width: 800px;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.post-box {
  background-color: var(--grey);
  margin: 1rem auto;
  width: 100%;
}

.post-box p {
  padding: 1rem .5rem;
}

.post-box p:first-of-type {
  border-bottom: 1px solid var(--white);
  font-weight: bold;
  padding: .5rem;
}

.rfloat {
  float: right;
}

.quote, .spoiler:hover .quote {
  color: var(--quote);
}

.spoiler, .spoiler .quote {
  background-color: var(--black);
  color: var(--black);
}

.spoiler:hover {
  color: var(--white);
}
